<!DOCTYPE html>
  <head>
    <title>home</title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
     &nbsp&nbsp <h1>{{viewTitle}}</h1><br><br><br><br>
      <div>
          <h4> If you are  new then register
            <a href="/reg">Hit me</a><br><br>
          </h4>
      </div>
    
      <div>
        <h5>If you have already register then login
          <button> <a href="/login"> Hit me</a> </button>
        </h5>
      </div>
  </body>
</html>